/* Base styles (for mobile) */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(
    130deg,
    #ffffff 0%,
    #000000 15%,
    #0022ff 33%,
    #382f2f 50%,
    #00aaff 66%,
    #000000 85%,
    #ffffff 100%
  );
  background-size: 400% 400%;
  animation: gradientShift 15s ease infinite;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.contact-item a{
  font-size: 3rem !important;
}

.card {
  background:transparent;
  width: 350px;
  /* max-width: 95%; */
  height:fit-content;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  opacity: 0.9;
  border: 2px solid #444965;

}

.card:hover {
  opacity: 1;
}

.contact-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.4rem;
}

.contact-item {
  width: 100%;
  display: flex;
  justify-content: center;
}

.contact-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  text-decoration: none;
  color: #fff;
  background: #545b7b;
  padding: 1rem 2rem;
  border-radius: 8px;
  font-size: 3rem;
  font-weight: 400;
  width: 100%;
  text-align: center;
  transition:all 1s ease-in-out;
}

.contact-button i {
  font-size: 3rem;
}

.contact-button:hover {
  background: #444965;
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(81, 88, 118, 0.2);
}

.contact-button:hover i{
  color: #000000;
  transition: all 1s ease-in-out;
}

.contact-button:active {
  transform: translateY(0);
  box-shadow: 0 3px 6px rgba(84, 91, 123, 0.2);
}


/* Desktop adjustments */
@media (max-width: 600px) {
  /* Reduce the card width */
  .card {
    width: 65% !important;
    height: auto;
    padding: 0rem;
    margin: 0;
    border: 1px solid transparent;
  }

  .contact-list{
    gap:0;
  }

  .contact-item a{
    font-size: 2rem !important;
    margin: 0.2rem;
    display: flex;
    align-items:end;
    justify-content:space-between;
  }

  /* .contact-item i{
    display: flex;
    align-items:end;
    justify-content:end !important;
  } */

  .contact-button {
    font-size: 1rem;
    padding: 1rem;
  }

  .contact-button i {
    font-size: 2.5rem;
  }
}
